@CHARSET "UTF-8";


#editLeft{
    width: 50%;
    float: none;
    margin-left: -3px;
    font-size: x-large;
}

#editRight{
    width: 50%;
    display: inline-block;
    float: right;
}

#friendProfile{
	border: 1px solid;
	width: 500px;
	margin:auto;
}

.image{
	width: 125px;
	display: inline;
}

.opis{
	width:75%;
	display: inline-block;
}


.profileLeft{
    width: 30%;
    float: none;
    margin-left: -3px;
    font-size: x-large;
}

.profileRight{
      width: 70%;
    display: inline-block;
    float: right;
}

#info{
	border: 1px solid;
	width: 45%	
	
}

#look{
	border: 1px solid;
	width: 50%;
	float: none;
	display: inline-block;
	float: right;
}