<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">RedJava</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="profile.jsp">Twoj profil</a></li>
                <li><a href="Friends.jsp">Znajomi</a></li>
                <li><a href="search.jsp">Wyszukiwarka</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Zaloguj</a></li>
            </ul>
        </div>
    </div>
</nav>